notificationHeight = 56px;

.tBox{
    position: fixed;
    left:0;
    bottom:0;
    fill();
    pointer-events: none;
    z-index: modalZindex + 100;
    width 100%;
    padding:0;
    margin:0;

    .tBagWrapper{
        height: notificationHeight;
        transition: all 0.2s ease;
        margin:auto;
        width:100%;
        perspective: 1000px;
        min-width: minToastWidth;
        max-width: maxToastWidth;
        background: alertBackground;
    }
    transition(margin, 0.15s, ease-out);

    .bag{
        transition: opacity 0.3s ease-out;
        height: notificationHeight;
        pointer-events: all;
        opacity: 1;
        fadeIn();
        animation-delay: 0.08s;
        width:100%;
        color: white;
        vertical-align: middle;
        font-weight:400;

        messageSize = 14px;
        padding: messageSize 24px;
        font-size: messageSize;
        line-height: 2;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        &.removed{
            position: absolute;
            opacity: 0;
            pointer-events:none;
        }

        &.error{
            &:before{
                background: errorColor;
            }
        }
    }

    &.tBagEmpty{
        margin: -56px 0;
    }
}
