.page{
    opacity: 1;
    text-align: center;
    flex:1;
    position: relative;
    z-index: pageZIndex;
    padding: 0;

    -webkit-overflow-scrolling:touch;
    height: 100%;
    overflow-x: hidden;
    overflow: auto;

    fadeIn();
}
