fillElement(position = absolute) {
    position: position;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

dropShadow(distance = 1px, color = shadow){
    box-shadow: 0px distance 8px color;
}

flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}
