highlight = #e7512d;
highlightTransparent = rgba(highlight, 0.5);
highlightVeryTransparent = rgba(highlight, 0.15);
highlightBarelyTransparent = rgba(highlight, 0.94);

darkHighlight = #3E3F41;

baseText = #000000;
mainText = #F7F7F7;
secondaryText = rgba(baseText, 0.54);
hintText = rgba(baseText, 0.26);
darkText = baseText;
error = #E57373;

overlayBackground = rgba(darkHighlight, 0.5);

shadow = rgba(0, 0, 0, 0.3);

defaultBackground = #f6f6f6;

iconColour = #757575;
