@import url("//fonts.googleapis.com/css?family=Roboto:500,300,700,400");

@font-face { font-family: Sacramento; font-weight: normal; src: url('../fonts/Sacramento-Regular.ttf');}

display1 = 34px
headline = 24px
title = 20px
subhead = 16px;
body2 = 14px;
body1 = 14px;

mediumWeight = 400;
regularWeight = 300;

display2(){
    font-size: 45px;
}

display1(){
    font-size: 34px;
}

headline() {
    font-size: 24px;
}

title() {
    font-size: 20px;
    font-weight: mediumWeight;
    line-height: 20px;
}

subhead() {
    font-size: 16px;
}

body2() {
    font-size:14px;
    font-weight: mediumWeight;
}

body1() {
    font-size:14px;
}

caption() {
    font-size:12px;
}

buttonFont() {
    font-size: 16px;
    font-weight: mediumWeight;
}

defaultFontWeight = normal;
defaultFontSize = 14px;
defaultFontFamily = Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

defaultFont = defaultFontWeight defaultFontSize defaultFontFamily;
numpadFont = defaultFontWeight 24px defaultFontFamily;
